torch>=1.10
transformers>=4.30
openai
openai-whisper
pydub
deepl
googletrans==4.0.0-rc1
python-dotenv
spacy
textblob
vaderSentiment
scikit-learn
pandas
numpy
pytubefix==8.12.3
sentencepiece
sacremoses
protobuf